*{
    padding: 0px;
    margin: 0px;
}
.head_top{
    width: 100%;
    height: 100px;
    margin-top: 75px;
    position: absolute;
}
.head_top ::before{
    clear: both;
    content: "";
    
}
.head_img{
    width: 40%;
    float: left;
    height: 100px;
   
}
.head_img img{
    margin-left: 55%;
}
.head_title{
    margin-left: 1%;
    height: 100px;
}
.head_title>li{
    float: left;
    list-style: none;
    margin-left: 3%;
}
.head_title>li a{
    text-decoration: none;
    color: black;
}